<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".LelysApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LelysNails"
        android:hardwareAccelerated="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LelysNails"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LelysNails" />

        <activity
            android:name=".widget.WidgetConfigActivity"
            android:exported="true"
            android:theme="@style/Theme.LelysNails">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.QuickAddActivity"
            android:exported="false"
            android:theme="@style/Theme.LelysNails"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <receiver
            android:name=".widget.AgendaWidgetProvider"
            android:exported="true"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.lelysnails.agenda.WIDGET_PREV" />
                <action android:name="com.lelysnails.agenda.WIDGET_NEXT" />
                <action android:name="com.lelysnails.agenda.WIDGET_REFRESH" />
                <action android:name="com.lelysnails.agenda.WIDGET_REFRESH_ALL" />
                <action android:name="com.lelysnails.agenda.WIDGET_DAY" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/agenda_widget_info" />
        </receiver>

        <service
            android:name=".widget.AgendaWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>
</manifest>
